@model IEnumerable<DigiGymWebApp_HDip.Models.WeightEntry>

@{
    ViewData["Title"] = "WeightEntries";
}

<div class="container">
    <div class="row">
        <h1 class="dashed py-3 text-center">Your Weight Entries</h1>

        <p class="text-center">
            <a asp-action="Create">Create New</a>
        </p>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Weight)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Timestamp)
                    </th>
                </tr>
            </thead>
            <tbody>
        @foreach (var item in Model) {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Weight)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Timestamp)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.WeightID">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.WeightID">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.WeightID">Delete</a>
                    </td>
                </tr>
        }
            </tbody>
        </table>

        <div class="text-center pt-4">
            <a asp-controller="Weight" asp-action="Chart">See progress chart >></a>
        </div>

    </div>
</div>