@model DigiGymWebApp_HDip.Models.ApplicationUser

@{
    ViewData["Title"] = "ManageUser";
}

<div class="container">
    <div class="row pre-footer">

        <h1 class="dashed text-center py-3">Manage User</h1>

        <div>
            <dl class="row text-center">
                <dt class="col-sm-6 text-lg-end">
                    @Html.DisplayNameFor(model => model.Email)
                </dt>
                <dd class="col-sm-6 text-lg-start">
                    @Html.DisplayFor(model => model.Email)
                </dd>
                <dt class="col-sm-6 text-lg-end">
                    @Html.DisplayNameFor(model => model.FirstName)
                </dt>
                <dd class="col-sm-6 text-lg-start">
                    @Html.DisplayFor(model => model.FirstName)
                </dd>
                <dt class="col-sm-6 text-lg-end">
                    @Html.DisplayNameFor(model => model.LastName)
                </dt>
                <dd class="col-sm-6 text-lg-start">
                    @Html.DisplayFor(model => model.LastName)
                </dd>
                <dt class="col-sm-6 text-lg-end">
                    @Html.DisplayNameFor(model => model.CreatedAt)
                </dt>
                <dd class="col-sm-6 text-lg-start">
                    @Html.DisplayFor(model => model.CreatedAt)
                </dd>
                <dt class="col-sm-6 text-lg-end">
                    @Html.DisplayNameFor(model => model.UserType)
                </dt>
                <dd class="col-sm-6 text-lg-start">
                    @Html.DisplayFor(model => model.UserType)
                </dd>
                @* Show approval only if Trainer *@
                @{
                    if (@Model.UserType == UserTypes.Trainer)
                    {
                        <dt class="col-sm-6 text-lg-end">
                            @Html.DisplayNameFor(model => model.ApprovalStatus)
                        </dt>
                        <dd class="col-sm-6 text-lg-start">
                            @Html.DisplayFor(model => model.ApprovalStatus)
                        </dd>
                    }
                }

            </dl>
        </div>

        @{
            if (@Model.UserType == UserTypes.Client)
            {
                <div class="text-center">
                    <a asp-action="Clients">Back to Client List</a>
                </div>
            } else if (@Model.UserType == UserTypes.Trainer)
            {
                <div class="text-center">
                    <a asp-action="ApproveTrainer" asp-route-id="@Model?.Id">Approve Trainer</a> |
                    <a asp-action="RejectTrainer" asp-route-id="@Model?.Id">Reject Trainer</a>
                    <br />
                    <a asp-action="PendingApproval">Go to Pending List</a> |
                    <a asp-action="Trainers">Back to Trainers List</a>
                </div>
            } else if (@Model.UserType == UserTypes.Admin)
            {
                <div class="text-center">
                    <a asp-action="Admins">Back to Admin List</a>
                </div>
            }
        }
    </div>
</div>