@model List<ApplicationUser>

<h1>Pending Users</h1>

@{
    bool hasPendingUsers = Model.Any(u => u.ApprovalStatus == ApprovalStatuses.Pending && u.UserType == UserTypes.Trainer);
}

@if (hasPendingUsers)
{
    <table class="table">
        <thead>
            <tr>
                <th>Email</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Created Date</th>
                <th>User Type</th>
                <th>Approved?</th>
            </tr>
        </thead>
        <tbody>
        @foreach (var user in Model)
            {
                <tr>
                    <td>@user.Email</td>
                    <td>@user.FirstName</td>
                    <td>@user.LastName</td>
                    <td>@user.CreatedAt.ToString("yyyy-MM-dd")</td>
                    <td>@user.UserType</td>
                    <td>@user.ApprovalStatus</td>
                    <td><a asp-action="ManageUser" asp-route-id="@user.Id">Manage</a></td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>No Pending Users.</p>
}
