@model IEnumerable<DigiGymWebApp_HDip.Models.Workout>

@{
    ViewData["Title"] = "Workout";
}

<h1>Workout</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.WorkoutType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EffortLevel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OtherInfo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.WorkoutType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EffortLevel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OtherInfo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.Id)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.WorkoutID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.WorkoutID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.WorkoutID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
