@model DigiGymWebApp_HDip.Models.Food

@{
    ViewData["Title"] = "Confirm";
}

<div class="container">
    <div class="row pre-footer">
        <h1 class="dashed py-3 text-center">Confirmation</h1>

        <div class="text-center">
            <dl class="row">
                <dt class="col-sm-6 text-lg-end">
                    @Html.DisplayNameFor(model => model.FoodName)
                </dt>
                <dd class="col-sm-6 text-lg-start">
                    @Html.DisplayFor(model => model.FoodName)
                </dd>
                <dt class="col-sm-6 text-lg-end">
                    @Html.DisplayNameFor(model => model.FoodBrand)
                </dt>
                <dd class="col-sm-6 text-lg-start">
                    @Html.DisplayFor(model => model.FoodBrand)
                </dd>
                <dt class="col-sm-6 text-lg-end">
                    @Html.DisplayNameFor(model => model.Serving)
                </dt>
                <dd class="col-sm-6 text-lg-start">
                    @Html.DisplayFor(model => model.Serving)
                </dd>
                <dt class="col-sm-6 text-lg-end">
                    @Html.DisplayNameFor(model => model.Calories)
                </dt>
                <dd class="col-sm-6 text-lg-start">
                    @Html.DisplayFor(model => model.Calories)
                </dd>
                <dt class="col-sm-6 text-lg-end">
                    @Html.DisplayNameFor(model => model.Protein)
                </dt>
                <dd class="col-sm-6 text-lg-start">
                    @Html.DisplayFor(model => model.Protein)
                </dd>
                <dt class="col-sm-6 text-lg-end">
                    @Html.DisplayNameFor(model => model.Carbohydrates)
                </dt>
                <dd class="col-sm-6 text-lg-start">
                    @Html.DisplayFor(model => model.Carbohydrates)
                </dd>
                <dt class="col-sm-6 text-lg-end">
                    @Html.DisplayNameFor(model => model.Fat)
                </dt>
                <dd class="col-sm-6 text-lg-start">
                    @Html.DisplayFor(model => model.Fat)
                </dd>
                <dt class="col-sm-6 text-lg-end">
                    @Html.DisplayNameFor(model => model.MealType)
                </dt>
                <dd class="col-sm-6 text-lg-start">
                    @Html.DisplayFor(model => model.MealType)
                </dd>
                <dt class="col-sm-6 text-lg-end">
                    @Html.DisplayNameFor(model => model.Grams)
                </dt>
                <dd class="col-sm-6 text-lg-start">
                    @Html.DisplayFor(model => model.Grams)
                </dd>
                <dt class="col-sm-6 text-lg-end">
                    @Html.DisplayNameFor(model => model.CreatedAt)
                </dt>
                <dd class="col-sm-6 text-lg-start">
                    @Html.DisplayFor(model => model.CreatedAt)
                </dd>
            </dl>
            <div class="text-center">
            <a asp-action="Edit" asp-route-id="@Model?.FoodID">Edit</a> |
            <a asp-action="FoodDiary">Food Diary</a>
            </div>
        </div>
    </div>
</div>