@model IEnumerable<DigiGymWebApp_HDip.Models.Food>

@{
    ViewData["Title"] = "FoodDiary";
}

<h1>FoodDiary</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FoodName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FoodBrand)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Serving)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Calories)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Protein)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Carbohydrates)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MealType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FoodName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FoodBrand)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Serving)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Calories)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Protein)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Carbohydrates)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MealType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.Id)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.FoodID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.FoodID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.FoodID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
